{% extends '@admin/layout.html.twig' %}

{% block title "Ajouter un article" %}

{% block body %}

<h1> Ajouter l'article</h1>

<form action="{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">

   {% include viewPath ~ '/form.html.twig' %}

    <button class="btn btn-primary" type="submit">Ajouter</button>

</form> 


{% endblock body %}
