{% extends '@admin/layout.html.twig' %}

{% block title "Editer l'article" %}

{% block body %}

<h1> Updater Editer l'article {{ item.name }}</h1>

<form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post" enctype="multipart/form-data" >

  {% include viewPath ~ '/form.html.twig' %}

  <button class="btn btn-primary" type="submit">Updater</button>

</form> 


{% endblock body %}
